<section>
  <h1>Your Profile</h1>
  <form class="" action="/users" method="post">
  <label for="name">name</label>
  <br>
  <label for="email">email</label>
  <h4><%= user.local.email %></h4>
  <label for="address">address</label>
  <% if (user.address) { %>
  <h4><%= user.local.address %></h4>
  <% } %>
  <br>
  <label for="city">city</label>
  <% if (user.city) { %>
  <h4><%= user.local.city %></h4>
  <% } %>
  <br>
  <label for="state">state</label>
  <% if (user.state) { %>
  <h4><%= user.local.state %></h4>
  <% } %>
  <br>
  <label for="zip_code">zip code</label>
  <% if (user.zip_code) { %>
  <h4><%= user.local.zip_code %></h4>
  <% } %>
  <button type="submit" name="button">Submit</button>
  </form>
</section>


<a href ="/profile-edit"><button type="button" name="editProfile">Edit Profile</button></a>
<a href="/reserve"><button type="button" name="reserveTable">Reserve Table</button></a> %>
